%avenir
{
  font-family: 'AvenirNextLTW02-Regular', 'sans-serif';
  font-weight: normal;
}
%avenir-medium
{
  font-family: 'AvenirNextLTW02-Medium', 'sans-serif';
  font-weight: normal;
}
%avenir-demi
{
  font-family: 'Avenir Next LT W02 Demi', 'sans-serif';
  font-weight: normal;
}



*,
*::before,
*::after
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body
{
  @extend %avenir;
  font-size: 16px;
}


h1,
h2,
h3,
h4
{
  font-weight: normal;
}
