.kontakt .article-title:before
{
  background-color: transparent;
  background-image: url('../images/icon-contact-small.png');
  background-image: -webkit-image-set(url('../images/icon-contact-small.png') 1x,
                              url('../images/icon-contact-small@2x.png') 2x);

  @include min-width(640px)
  {
    background-color: $primary;
    background-image: url('../images/icon-contact.png');
    background-image: -webkit-image-set(url('../images/icon-contact.png') 1x,
                                url('../images/icon-contact@2x.png') 2x);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }
}
