@keyframes slide-in
{
  100%
  {
    transform: translateY(0);
  }
}

.cssanimations .impressum .content-area
{
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-delay: 240ms;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  transform: translateY(8em);
}
