%article-padding
{
  padding-left: 1.5em;
  padding-right: 1.5em;

  @include min-width(640px)
  {
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
}

%reset-padding
{
  margin-left: -1.5em;
  margin-right: -1.5em;

  @include min-width(640px)
  {
    margin-left: -3.75em;
    margin-right: -3.75em;
  }
}

.article
{
  position: relative;
}

.article-has-aside
{
  @include min-width(1000px)
  {
    padding-right: 330px;
  }
}

.article-header
{
  @extend %article-padding;

  border-bottom: 1px solid #D7E2F9;
  padding-bottom: 1.5em;
  position: relative;

  @include min-width(640px)
  {
    padding-bottom: 2.25em;
  }


  .content-is-primary &
  {
    border-color: #2C80BF;
  }
}

.article-title
{
  @extend %avenir-demi;

  color: $primary;
  font-size: 1em;
  margin: 0;

  @include min-width(640px)
  {
    font-size: 1.375em;
    line-height: 1.8181;
  }

  .content-is-primary &
  {
    @extend %avenir-medium;

    color: white;
  }

  &:before
  {
    background-color: $primary;
    border-radius: 1px;
    content: '';
    display: inline-block;
    height: 1em;
    left: 0;
    position: absolute;
    top: 1px;
    width: 1em;
    vertical-align: middle;

    @include min-width(640px)
    {
      height: 1.8181em;
      top: -1px;
      width: 1.8181em;
    }

    .content-is-primary &
    {
      background-color: white;
    }
  }
}

.article-header-link
{
  background-color: white;
  height: 2.125em;
  overflow: hidden;
  padding: .5625em;
  position: absolute;
  right: 0;
  top: -.36em;
  width: 2.125em;

  @include min-width(640px)
  {
    top: .16em;
  }

  &:after,
  &:before
  {
    content: '';
    position: absolute;
  }

  &:after
  {
    background-image: url('../images/icon-arrow.png');
    height: 3em;
    top: -1.5em;
    //transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 1em;
  }

  &:hover:after
  {
    transform: translateY(50%);
    transition: transform 350ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:before
  {
    background-color: white;
    bottom: 0;
    height: .5625em;
    left: 0;
    right: 0;
    z-index: 1;
  }

  span
  {
    border-bottom: 1px solid #0C78C7;
    display: block;
    height: 1em;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 1em;
    z-index: 2;
  }
}

.article-body
{
  @extend %article-padding;

  padding-bottom: 1.5em;
  padding-top: 1.5em;

  @include min-width(640px)
  {
    padding-bottom: 3.25em;
    padding-top: 3.25em;
  }

  > .usercontent
  {
    margin-bottom: 3em;
  }
}
