.attorney
{
  @extend .article-padding;

  margin-top: 1.375em;
  padding-bottom: 120px;
  position: relative;

  @include min-width(640px)
  {
    margin-top: -2em;
    padding-bottom: 9.375em;
    padding-top: 4.5em;
  }

  &:first-child
  {
    margin-top: 0;
  }
}

.attorney-name
{
  @extend %avenir-medium;

  color: $primary;
  font-size: 1.25em;
  margin: 0 0 .5em;

  @include min-width(640px)
  {
    font-size: 1.875em;
    margin-bottom: .4em;
  }
}

.attorney-specialty
{
  color: #7095CC;
  font-size: .75em;
  margin: 0;

  @include min-width(640px)
  {
    font-size: 1em;
  }
}

.attorney-image
{
  bottom: 0;
  height: 120px;
  position: absolute;
  right: 0;
  width: auto;

  @include min-width(640px)
  {
    height: 240px;
  }
}
