.category
{
  @extend %reset-padding;

  margin-top: -1px;
}

.category__header
{
  border-bottom: 1px solid #D7E2F9;
  border-top: 1px solid #D7E2F9;
  cursor: pointer;
  padding: 1.75em 0;

  @include min-width(640px)
  {
    padding: 3em 0 2.5em;
  }
}

.category__title
{
  color: $primary;
  font-size: 1em;
  margin: 0;

  @include min-width(640px)
  {
    font-size: 1.375em;
  }

  &:before
  {
    background-color: #DCE9FB;
    background-image: linear-gradient(#DCE9FB, #CFDFF7);
    border-radius: 1px;
    content: '';
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 2px;
    transition: background-color 80ms ease,
                margin 250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 16px;

    @include min-width(640px)
    {
      height: 20px;
      width: 20px;
    }

    .category--open &
    {
      background-color: $primary;
      background-image: linear-gradient(#0F71B8, #0068B4);
    }
  }
}

.category__header:hover .category__title:before
{
  background-color: $primary;
  background-image: linear-gradient(#0F71B8, #0068B4);
}

.category__body
{
  display: none;
}

.category__body > .accordion
{
  margin-left: 0;
  margin-right: 0;

  &:last-child
  {
    margin-bottom: 0;

    @include min-width(640px)
    {
      margin-bottom: 0;
    }
  }
}
