.contact-list
{
  @extend %list-reset;

  margin-bottom: 2.5em;
  margin-top: 2em;
}

.contact-item
{
  @extend %clearfix;

  height: 2em;
  margin-bottom: 1em;

  &:last-child
  {
    margin-bottom: 0;
  }

  a
  {
    @extend %avenir-medium;

    border-radius: 1px;
    display: block;
    float: left;
    height: 2em;
    line-height: 2;
    padding: 0 .5em;
    text-decoration: underline;

    .content-is-primary &
    {
      color: white;
    }

    &:hover
    {
      background-color: white;
      color: $primary;
      text-decoration: none;

      .content-is-primary &
      {
        background-color: #2582C5;
        color: white;
      }
    }

    span
    {
      position: relative;
      top: 2px;
    }
  }
}

.contact-item:before
{
  //background-color: fade-out($primary, .8);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border-radius: 1px;
  content: '' !important;
  display: block;
  float: left;
  height: 2em;
  line-height: 2;
  width: 2em;
}

.contact-item-email:before
{
  background-image: url('../images/icon-email@2x.png');
  background-image: -webkit-image-set(url('../images/icon-email.png') 1x,
                              url('../images/icon-email@2x.png') 2x);
  .is-ie8 &
  {
    background-image: url('../images/icon-email.png');
  }

  .content-is-primary &
  {
    background-image: url('../images/icon-email-negative@2x.png');
    background-image: -webkit-image-set(url('../images/icon-email-negative.png') 1x,
                                url('../images/icon-email-negative@2x.png') 2x);
    .is-ie8 &
    {
      background-image: url('../images/icon-email-negative.png');
    }
  }
}

.contact-item-phone:before
{
  background-image: url('../images/icon-phone@2x.png');
  background-image: -webkit-image-set(url('../images/icon-phone.png') 1x,
                              url('../images/icon-phone@2x.png') 2x);
  .is-ie8 &
  {
    background-image: url('../images/icon-phone.png');
  }

  .content-is-primary &
  {
    background-image: url('../images/icon-phone-negative@2x.png');
    background-image: -webkit-image-set(url('../images/icon-phone-negative.png') 1x,
                                url('../images/icon-phone-negative@2x.png') 2x);
    .is-ie8 &
    {
      background-image: url('../images/icon-phone-negative.png');
    }
  }
}

.contact-item-fax:before
{
  background-image: url('../images/icon-fax@2x.png');
  background-image: -webkit-image-set(url('../images/icon-fax.png') 1x,
                              url('../images/icon-fax@2x.png') 2x);
  .is-ie8 &
  {
    background-image: url('../images/icon-fax.png');
  }

  .content-is-primary &
  {
    background-image: url('../images/icon-fax-negative@2x.png');
    background-image: -webkit-image-set(url('../images/icon-fax-negative.png') 1x,
                                url('../images/icon-fax-negative@2x.png') 2x);
    .is-ie8 &
    {
      background-image: url('../images/icon-fax-negative.png');
    }
  }
}
