.footer-area
{
  background-color: $primary;
  position: relative;
  z-index: 2;
}

.footer-area-items
{
  @extend %clearfix;
  @extend %list-reset;

  padding: 1.5em 10%;

  @include min-width(640px)
  {
    margin-left: -1.071428em;
    padding: 4em 0;
  }
}

.footer-area-item
{
  float: left;
  margin-bottom: .25em;
  position: relative;
  text-align: center;
  width: 33.333%;

  @include min-width(640px)
  {
    margin-bottom: 0;
    padding: 0 .5em;
    width: auto;
  }

  &:nth-child(2):before,
  &:nth-child(3):before
  {
    background-color: #88AEE8;
    content: '';
    display: block;
    height: 2px;
    left: -1px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 2px;

    @include min-width(640px)
    {
      height: 4px;
      left: -2px;
      margin-top: -2px;
      width: 4px;
    }
  }

  &:last-child
  {
    margin-bottom: 0;
    width: 100%;

    @include min-width(640px)
    {
      float: right;
      width: auto;
    }
  }
}

.footer-area-link
{
  @extend %avenir-medium;

  border-radius: 1px;
  color: white;
  display: inline-block;
  font-size: .625em;
  letter-spacing: 0.05em;
  line-height: 2.4;
  padding: 0 .8em;
  text-transform: uppercase;
  transition: all 80ms cubic-bezier(0.23, 1, 0.32, 1);

  @include min-width(640px)
  {
    font-size: .875em;
    letter-spacing: 0.025em;
    line-height: 1.714285;
    padding: .15em .571428em 0;
  }

  .footer-area-item:last-child &
  {
    color: #88AEE8;

    &:hover
    {
      background-color: transparent;
      color: white;
    }
  }

  &:hover
  {
    background-color: #2582C5;
    color: white;
  }
}
