.header-area
{
  background-color: white;
  border-bottom: 1px solid #E6EEFF;
  height: 3.9375em;
  padding: 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;

  @include min-width(640px)
  {
    height: 6.125em;
  }

  @include min-width(800px)
  {
    height: 9.125em;
    padding: 2.5em 0;
  }

  // .home &
  // {
  //   text-align: center;
  // }
}

.header-area-logo
{
  float: left;

  // .home &
  // {
  //   float: none;
  // }

  img
  {
    height: 1em;
    position: relative;
    top: .4em;

    @include min-width(640px)
    {
      top: 1.45em;
    }

    @include min-width(800px)
    {
      height: 2em;
      top: .9em;
    }
  }
}

.header-area-navigation
{
  float: right;
  position: relative;
}

.header-area-button
{
  border-radius: 1px;
  color: #DBE4EE;
  display: inline-block;
  float: left;
  line-height: 2em;
  margin-left: .5em;
  padding: 0 .55em;
  text-transform: uppercase;
  transition: color 100ms cubic-bezier(0.23, 1, 0.32, 1);

  @include min-width(640px)
  {
    line-height: 4em;
    margin-left: 0;
    padding: 0 1.25em;
  }

  &:hover
  {
    color: $primary;
  }

  > span,
  > abbr
  {
    position: relative;
    top: 1px;

    @include min-width(640px)
    {
      font-size: 1.25em;
      letter-spacing: .05em;
      top: 2px;
    }
  }

  > abbr
  {
    border: none;
  }
}

.header-area-button-menu
{
  color: #99B3D7;

  @include min-width(640px)
  {
    margin-right: -1.3em;
  }

  .home &
  {
    display: none;
  }

  &:hover
  {
    background-color: $body-bg;
  }

  &:after
  {
    background-image: url('../images/menu-open-small.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: .9375em .9375em;
    content: '';
    display: none;
    height: .9375em;
    position: relative;
    top: 3px;
    width: .9375em;

    //.no-inlinesvg &,
    //.no-csstransforms3d &
    //{
      display: inline-block;
    //}

    .navigation-is-active &
    {
      background-image: url('../images/menu-close-small.png');
    }

    @include min-width(640px)
    {
      background-image: url('../images/menu-open-large.png');
      background-size: 2em 2em;
      height: 2em;
      margin-left: 1em;
      top: 11px;
      width: 2em;
    }

    .navigation-is-active &
    {
      @include min-width(640px)
      {
        background-image: url('../images/menu-close-large.png');
      }
    }
  }

  > span
  {
    display: none;

    @include min-width(640px)
    {
      display: inline;
    }
  }
}

.hamburger
{
  display: inline-block;
  height: .9375em;
  position: relative;
  top: 3px;

  //.no-inlinesvg &,
  //.no-csstransforms3d &
  //{
    display: none;
  //}

  @include min-width(640px)
  {
    height: 2em;
    margin-left: .25em;
    top: 11px;
    width: 2em;
  }

  .open-top
  {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

    .navigation-is-active &
    {
      opacity: 0;
      transform: translateY(-100%);
      transition-delay: 0;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  .open-bottom
  {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

    .navigation-is-active &
    {
      opacity: 0;
      transform: translateY(100%);
      transition-delay: 0;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  .close-01,
  .close-02
  {
    transform-origin: 16px 16px;
    transition: transform 150ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .close-01
  {
    transform: rotateZ(90deg);

    .navigation-is-active &
    {
      transform: rotateZ(45deg);
    }
  }

  .close-02
  {
    transform: rotateZ(-90deg);

    .navigation-is-active &
    {
      transform: rotateZ(-45deg);
    }
  }
}

.header-area-button-language
{
  display: none;

  .navigation-is-active &
  {
    @media only screen and (max-width: 640px)
    {
      display: block;
    }
  }

  .not-home.navigation-is-active &
  {
    @media only screen and (max-width: 640px)
    {
      height: 2.125em;
      overflow: hidden;
      padding: 0;
      padding-top: .2em;
      position: absolute;
      right: 0;
      text-align: center;
      top: 4em;
      width: 2.125em;
    }
  }

  @include min-width(640px)
  {
    display: block;
  }

  // .home &
  // {
  //   margin-left: 0;
  //   position: absolute;
  //   right: -.55em;
  //
  //   @include min-width(640px)
  //   {
  //     position: static;
  //     right: -1.25em;
  //   }
  // }
}

.language-is-active
{
  display: none !important;
}
