.is-ie8 .navigation-is-active
{
  overflow: hidden;
}

.navigation
{
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: -100%;
  opacity: 0;
  overflow: hidden;
  padding: 2em;
  position: fixed;
  top: 3.9375em;
  transition: opacity 600ms 850ms cubic-bezier(0.645, 0.045, 0.355, 1),
              left 0 1450ms linear;
  width: 100%;
  z-index: 5;

  .is-ie8 &
  {
    overflow: scroll;
  }

  @include min-width(720px)
  {
    top: 5.125em;
  }

  @include min-width(800px)
  {
    padding: 3em;
    top: 8.5em;
  }

  .is-ie8 &
  {
    top: 8.5em;
  }

  .home &
  {
    background-color: transparent;
    position: static;
  }

  .navigation-is-active &
  {
    left: 0;
    opacity: 1;
    transition: opacity 300ms 0 cubic-bezier(0.645, 0.045, 0.355, 1),
                left 0 0 linear;
  }
}

.navigation-main
{
  display: block;
  margin: auto;
  max-width: 34.75em;
  position: relative;

  @media only screen and (max-height: 720px)
  {
    max-width: 28em;
  }

}

.navigation-items
{
  @extend %clearfix;
  @extend %list-reset;
}


.navigation-item
{
  float: left;
  opacity: 0;
  position: relative;
  transform: scale3d(.9,.9,1);
  transition: all 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0;
  width: 33.333%;

  .navigation-is-active &
  {
    opacity: 1;
    transform: scale3d(1,1,1);
    transition-delay: 550ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:nth-child(3)
  {
    transition-delay: 300ms;
    transition-duration: 500ms;

    .navigation-is-active &
    {
      transition-delay: 300ms;
      transition-duration: 700ms;
    }
  }

  &:after
  {
    content: '';
    display: block;
    padding-top: 100%;
  }

  a
  {
    color: $primary;
  }
}

.navigation-tile
{
  border-radius: 2px;
  bottom: 5px;
  //display: flex;
  left: 5px;
  line-height: .8em;
  padding: .5em;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  transition: background-color 100ms cubic-bezier(0.19, 1, 0.22, 1);

  @include min-width(640px)
  {
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;

    line-height: 1.2em;
  }

  a,
  span
  {
    @extend %avenir-medium;

    font-size: .6875em;
    hyphens: auto;
    margin: auto;

    @include min-width(640px)
    {
      font-size: 1.125em;
    }
  }
}

.navigation-primary
{
  > .navigation-item:last-child,
  > .navigation-item:first-child
  {
    margin: 0 33.333%;
  }

  > .navigation-item:nth-child(3) > .navigation-tile
  {
    background-color: $primary;
    color: $body-bg;

    &:hover
    {
      background-color: #F9FCFF;
      color: $primary;

      .home &
      {
        background-color: white;
      }
    }
  }

  .navigation-tile
  {
    background-color: #DCE9FB;

    &:hover
    {
      background-color: #F9FCFF;
      color: $primary;

      .home &
      {
        background-color: white;
      }
    }
  }
}

.navigation-secondary
{
  > .navigation-item
  {
    position: absolute;
  }

  > .navigation-item-1
  {
    left: 0;
    top: 0;
  }

  > .navigation-item-2
  {
    right: 0;
    top: 0;
  }

  > .navigation-item-3
  {
    bottom: 0;
    left: 0;
  }

  > .navigation-item-4
  {
    bottom: 0;
    right: 0;
  }

  a
  {
    border-radius: 1px;
    display: inline-block;
    line-height: 3;
    padding: .25em .8em 0;

    @include min-width(640px)
    {
      padding-top: .1em;
    }

    &:hover
    {
      background-color: $body-bg;

      .home &
      {
        background-color: white;
      }
    }
  }
}
