.usercontent
{
  color: #6288C1;
  font-size: .75em;
  line-height: 1.5;

  @include min-width(640px)
  {
    font-size: 1em;
  }

  .content-is-primary &
  {
    color: #BED5F2;
  }
}

.category + .usercontent
{
  margin-top: 4em;
}

.usercontent > p:first-child
{
  margin-top: 0;
}

.usercontent p,
.usercontent h1,
.usercontent h2,
.usercontent ul
{
  max-width: 700px;
}

.usercontent h1,
.usercontent h2
{
  @extend %avenir-medium;

  color: $primary;
  font-size: 1.666em;
  hyphens: auto;
  line-height: 1.3;
  margin: 0;
  text-align: justify;

  @include min-width(640px)
  {
    font-size: 1.875em;
    line-height: 1.26;
  }

  &:last-child
  {
    margin-bottom: 1.666em;
  }

  .content-is-primary &
  {
    @extend %avenir;

    color: white;
  }
}

.usercontent p
{
  margin: 1.666em 0 1.5em;
  text-align: justify;
  hyphens: auto;

  @include min-width(640px)
  {
    margin-top: 1.25em;
  }
}

.usercontent ul
{
  list-style: none;
  margin: 2em 0;
  padding: 0;

  > li
  {
    margin-bottom: .5em;
    padding-left: 1em;
    position: relative;
  }

  > li:before
  {
    content: '\25AA';
    color: #0094CE;
    margin-right: .5em;
    position: absolute;
    left: 0;

    .content-is-primary &
    {
      color: fade-out(white, .2);
    }
  }
}

.usercontent hr
{
  @extend %reset-padding;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #D7E2F9;
  margin-bottom: 3.35em;
  margin-top: 3.25em;

  .content-is-primary &
  {
    border-color: #2C80BF;
  }
}

.usercontent a
{
  color: #6288C1;
  text-decoration: underline;

  &:hover
  {
    color: $primary;
    text-decoration: none;
  }

  .content-is-primary &
  {
    color: #BED5F2;

    &:hover
    {
      color: white;
    }
  }
}
