%widget-padding
{
  padding-left: 1.5em;
  padding-right: 1.5em;

  @include min-width(640px)
  {
    padding-left: 2em;
    padding-right: 2em;
  }
}

%widget-padding-reset
{
  margin-left: -1.5em;
  margin-right: -1.5em;

  @include min-width(640px)
  {
    margin-left: -2em;
    margin-right: -2em;
  }
}

.widget
{
  background-color: white;
  border-bottom: 1px solid #D7E2F9;
  border-top: 1px solid #D7E2F9;
  box-shadow: 0 5px 15px #D8E3F2;
}

.widget-header
{
  @extend %widget-padding;

  background-color: #FFF7FF;
  border-bottom: 1px solid #E8EEFF;
  padding-bottom: 1.25em;
  padding-top: 1.25em;

  .article-aside--beratungsansatz &
  {
    background-color: #FFF0D3;
  }

  @include min-width(640px)
  {
    padding-bottom: 1.25em;
    padding-top: 1.5em;
  }
}

.widget-title
{
  @extend %avenir-demi;

  color: $primary;
  font-size: 17/16 * 1em;
  line-height: 1.25;
  margin: 0;

  @include min-width(640px)
  {
    font-size: 22/16 * 1em;
    line-height: 1.75;
  }
}

.widget-body
{
  @extend %widget-padding;
}

.widget-footer
{
  @extend %avenir-demi;
  @extend %widget-padding;

  border-top: 1px solid #E8EEFF;
  padding-bottom: 1.25em;
  padding-top: 1.25em;

  @include min-width(640px)
  {
    padding-bottom: 1.75em;
    padding-top: 1.75em;
  }

  a
  {
    @extend %avenir-medium;

    border-radius: 1px;
    display: inline-block;
    line-height: 2.5em;
    margin-bottom: -.75em;
    margin-left: -.75em;
    margin-top: -.75em;
    padding: 0 .75em;
    text-decoration: underline;

    &:hover
    {
      background-color: $body-bg;
      color: $primary;
      text-decoration: none;
    }
  }
}
