@media print {
  .page
  {
    padding-top: 0;
  }
  .header-area
  {
    background-color: white;
    border-bottom: 1px solid #E6EEFF;
    height: 6.125em;
    padding: 1em 0;
    position: static;
    top: 0;
    width: 100%;
    z-index: 6;
  }

  .header-area-logo
  {
    img
    {
      height: 1em;
      top: 1.45em;
    }
  }
  .header-area-navigation
  {
    display: none;
  }

  .footer-area,
  .fields-list,
  .article-aside
  {
    display: none;
  }

  .news-layer-is-active .content-area
  {
    display: none;
  }
  .news-layer
  {
    overflow: visible;
    position: static;
  }
  .accordion
  {
    margin-left: 0;
    margin-right: 0;
  }
  .accordion .accordion-title > span
  {
    transform: translateX(0);
  }
}
