.container
{
  @extend %clearfix;

  //height: 100%;
  margin: 0 auto;
  max-width: 75.5em;
  padding: 0 1.5em;
  position: relative;
  width: 100%;

  @include min-width(640px)
  {
    padding: 0 4em;
  }
}

$pad: 1.5em;

.grid {
  background: white;
  margin: 0 0 $pad 0;

  &:after {
    @extend %clearfix;
  }
}

[class*='col-'] {

  @include min-width(720px)
  {
    float: left;
    padding-right: $pad;
  }

  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
  @include min-width(720px)
  {
    width: 66.666%;
  }
}
.col-1-3 {
  @include min-width(720px)
  {
    width: 33.333%;
  }
}
