%clearfix
{
  &:after,
  &:before
  {
    content: '';
    clear: both;
    display: table;
  }
}


%hide-text
{
  span
  {
    clip: 0 0 0 0;
    color: transparent;
    font-size: 0;
    height: 0;
    overflow: hidden;
    width: 0;
  }
}


%list-reset
{
  list-style: none;
  margin: 0;
  padding: 0;
}
