// Colors
// ----------------------------------------

$primary:           #0068b3;

$black:             hsl(0,0%,5%);
$dark-grey:         hsl(0,0%,25%);
$grey:              hsl(0,0%,50%);
$light-grey:        hsl(0,0%,75%);
$white:             hsl(0,0%,100%);



// Scaffolding
// ----------------------------------------


// Background Color
$body-bg:               #f4faff  !default;
// Global Text Color
$text-color:            $black !default;
// Global Link Color
$link-color:            $primary !default;
// Global Link Color
$link-hover-color:      $link-color;

// Typography
// ----------------------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;

$line-height-base:        1.428571429 !default;
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;

// Grid
// ----------------------------------------

$grid-gutter:       32px;
